snapshot/
snapshots/
pycaches/
__pycache__/
convnext_env/
venv/
*env*/
.vscode/
data/Human36M/annotations/
data/Human36M/images/
data/MPII/images/
data/MPII/annotations/
*.png
*.jpg
settings.json
yolo*.*
